# Groq LLM API Key (Required for structured routing and query generation)
# Sign up at https://console.groq.com/
GROQ_API_KEY=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

# Astra DB Configuration (Required for the vectorstore search)
# Create a free database at https://astra.datastax.com/
ASTRA_DB_APPLICATION_TOKEN=AstraCS:foEPIPxDUrQouKIkePMIFHsL:307bc71b9ef91daaa1d77282446d1455864e5a3c56caa6743444f20d79467487
ASTRA_DB_ID=2f63f036-90c9-4ee7-b283-6df52c7231d5
ASTRA_DB_KEYSPACE=default_keyspace

# Server Port Configuration
PORT=8000
HOST=127.0.0.1
